#menu{
    display: flex;  
    padding: 15px 0px;    
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;            
}

#menu ul{
    list-style: none;    
}

     #logo-text{        
     /* temporary solution */
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

#logo-text p{        
    /* temporary solution */
   margin:10px;
   
}

#page-list{
    justify-content: end;
}

#page-list ul{
    justify-content: left;
}


body { 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin: 0px;
}


#logo-text img{
    width: 50px;
    height: 50%;
}

.page-list ul{
    display: flex;
    flex-direction: row;    
    padding: 0px;  
}

.page-list ul li{
    margin: 10px; 
    
}

#intro{
    width:100%;
    
    
}
#intro img{
    width:inherit;
    height: 100vh;
    object-fit: cover;
}

#project-1 img {
    padding-right: 2%;
    width: 66%;
    height: 80%;
}
#project-2 img {
    padding-left: 2%;
    width: 66%;
    height: 80%;
}

#project-1{    
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 30px 0px;
    margin-bottom: 20px;
    
}

#project-2{    
    
    display: flex;
    flex-direction: row;    
    justify-content: flex-end;
    padding: 30px 0px;
    margin-bottom: 20px;
   
}

h1, h4, h2{
    margin: 0px;
}
h1 {
    font-size: 50px;;
}

h2 {
    font-size: 30px;;
}

main{
    margin: 0% 10%;  
}

footer{
    
    background-color: lightblue;    
    
      
    
}

#footer-wrapper{
    
    margin: 0% 10%;    
    display: flex;
    justify-content: space-between;
    
}

#footer-wrapper ul{
    list-style: none;
    text-align: right;
}

p{
    font-weight: 400;
}

#social img{
    width: 25px;
}

@media only screen and (max-width: 600px) {
    
    #menu{
        padding: 10px 0px;
        justify-content: center;
    }

    
   
    .page-list{
        display: none;
    }
    #project-1{
        flex-direction: column;
        width: inherit;
        height: inherit;
        
    }
    #project-2{
        flex-direction: column-reverse;
        width: inherit;
        padding-bottom: 10%;
        padding-top: -10%;
        
        
    }

    

    #project-1 img {
        padding-left: 0%;
        width: 100%;
        padding-right: 0%;
        

    }

    #project-2 img {
        padding-left: 0%;
        width: 100%;
        padding-right: 0%;
        padding-bottom: 5%;

    }
    #content{
        width: inherit;
        margin:0%;    
    }

    #intro img {
        margin: 1%;    
    }
    
    footer{
        width: inherit;
    }

    #intro img{
        margin: 0px;        
    }

    #intro{
        
        height: auto;
    }

    #footer-wrapper {
        flex-direction: column-reverse;
        text-align: center;
    }
    #footer-info {
        
        text-align: center;
    }
    #footer-info img{
        
        width:7%;
    }

    .page-list-footer ul {
        align-items: center;
        padding: 0px;
    }
    .page-list-footer ul li{
        text-align: center;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
      }

      #menu #logo-text {
        margin-left: 0px;
        text-align: center;
        justify-content: center;
    }
}
