#menu{
    
       
    background: rgb(96,102,205);
background: linear-gradient(90deg, rgba(96,102,205,1) 8%, rgba(87,47,167,0.8550770650056898) 48%, rgba(129,50,214,1) 90%);

   display: flex;  
     
    position: fixed;
    align-items: center; 
    justify-content: space-around;
    background-color: white;
    width: 100%;
    z-index: 2;
    
    
     
}
h1{
    background: -webkit-linear-gradient(90deg, rgba(96,102,205,1) 8%, rgba(87,47,167,0.8550770650056898) 48%, rgba(129,50,214,1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
}

#title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;  
}

#menu ul{
    list-style: none;    
}

     #logo-text{        
     /* temporary solution */
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    
        
}

#logo-text img     {   
filter: invert(1);
   
       
}

#menu #logo-text{
    
    display: flex;
    justify-content: right;

}

#logo-text p{        
    /* temporary solution */
   margin:10px;
   
   font-size: 1em;

   
}

#page-list{
    justify-content: end;
}

#page-list ul{
    justify-content: left;
}


body { 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin: 0px;
    
}


#logo-text img{
    width: 50px;
    height: 50%;
}

#logo-text p{
    white-space: nowrap;
}

.page-list ul{
    display: flex;
    flex-direction: row;    
    padding: 0px;  
}

.page-list ul li{
    margin: 10px; 
    
}

#intro{
    width:100%;
    
    
    
}

a{
    text-decoration: none;
}
#intro img{
    width:100%;
    height: 100vh;
    object-fit: cover;
}

#project-1 img {
    padding-right: 2%;
    width: 66%;
    height: 80%;
}
#project-2 img {
    padding-left: 2%;
    width: 66%;
    height: 80%;
}

#project-1{    
    
    display: flex;
    flex-direction: row;
    justify-content: start;
  
    
}

#project1-text{    
    
   max-height: 80%;
    
}

#project-2{    
    
    display: flex;
    flex-direction: row;    
    justify-content: flex-end;
    
   
}

h1, h4, h2{
    margin: 0px;
}
h1 {
    font-size: 2.5rem;;
}

h2 {
    font-size: 1.5rem;;
}

h4{
    font-size: 1rem;;
}

main{
    margin: 0% 10%;  
}

footer{    
    background: rgb(96,102,205);
    background: linear-gradient(90deg, rgba(96,102,205,1) 8%, rgba(87,47,167,0.8550770650056898) 48%, rgba(129,50,214,1) 90%);
    margin-top: -5%;
    padding-bottom:35px;
    padding-top:35px;
    z-index: 2;
}

footer p{    
    font-size: 1em;
}

#footer-wrapper{
    
    margin: 0% 10%;    
    display: flex;
    justify-content: space-between;
    
}

#footer-wrapper ul{
    list-style: none;
    text-align: right;
}

p{
}

#social img{
    width: 25px;
}

@media only screen and (max-width: 800px) {
    
    #menu{
        padding: 10px 0px;
        justify-content: center;
    }

    
   
    .page-list{
        display: none;
    }
    #project-1{
        flex-direction: column;
        width: inherit;
        height: inherit;
        margin: 10px;
        
    }
    #project-2{
        flex-direction: column-reverse;
        width: inherit;
        padding-bottom: 10%;
        padding-top: -10%;
        margin: 10px;
        
    }

    

    #project-1 img {
        padding-left: 0%;
        width: 100%;
        padding-right: 0%;
        

    }

    #project-2 img {
        padding-left: 0%;
        width: 100%;
        padding-right: 0%;
        padding-bottom: 5%;

    }
    #content{
        width: inherit;
        margin:0%;    
    }

    #intro img {
        margin: 1%;    
    }
    
    footer{
        width: inherit;
    }

    #intro img{
        margin: 0px;        
    }

    #intro{
        
        height: auto;
    }

    #footer-wrapper {
        flex-direction: column-reverse;
        text-align: center;
    }
    #footer-info {
        
        text-align: center;
    }
    #footer-info img{
        
        width:7%;
    }

    .page-list-footer ul {
        align-items: center;
        padding: 0px;
    }
    .page-list-footer ul li{
        text-align: center;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
      }

      #menu #logo-text {
        margin-left: 0px;
        text-align: center;
        justify-content: center;
    }

   
}
a {
    color: white;
    font-weight: lighter;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }

  #footer-info{
    filter: invert(1);
  }

  #footer-info p{
    
    font-size: 0.7em;
  }

  h2{
      color: rgb(146, 146, 146);
  }
